
//                     nextflow based RNA-seq pipeline config

// docker settings
docker.enabled = true
process.container = 'uschwartz/core_docker:v1.0'
docker.runOptions='-u $(id -u):$(id -g)'



// Global default params, used in configs
params {
  //                    Workflow
  analysis="profiler"
  inspector=false

  //                    Directories
  // path to Input
  csvInput="$projectDir/toyData/input.csv"
  // path to Output
  outDir="$HOME/nucMACC_test/"
  // path to project
  project="$projectDir"
  // path to pipeline running reports
  tracedir = "${params.outDir}/pipeline_info"
  // path to bowtie2 index
  genomeIdx="$projectDir/toyData/annotation_dm3/Bowtie2Index/genome"



  //                    Options
  help=false
  // path to reference file for TSS plots
  TSS=false
  //Path to file for filtering regions
  //blacklist="$projectDir/toyData/dm3-blacklist_Chromosomes.bed"
  blacklist=false
  //efective genome size for normalisation
  genomeSize= 23292622
  // whether to publish bam files
  publishBam=false
  // whether to publish size selected bam files
  publishBamFlt=false
  // whether to publish wig files
  OmitPublishWig=false
  // test RUN with toyData
  test = false
  //filter MAPQC
  MAPQC=20
  // length for mono-nucleosome selection
  minLen=140
  maxLen=200


}

process {
    withLabel: big {
        cpus = 5
        memory = 50.GB
    }
    withLabel: mid {
        cpus = 2
        memory = 16.GB
    }
}


// reporting

manifest {
  name = 'uschwartz/nucMACC'
  author = 'Uwe Schwartz'
  description = 'Nextflow MNase-seq analysis pipeline'
  mainScript = 'main.nf'
  version = '01.0.0'
}

// pipeline reports
timeline {
  enabled = true
  file = "${params.tracedir}/execution_timeline.html"
}
report {
  enabled = true
  file = "${params.tracedir}/execution_report.html"
}
trace {
  enabled = true
  file = "${params.tracedir}/execution_trace.txt"
}
